---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";

const meta = {
	title: "About",
	description: "About Tjerk Dijkstra",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>I think you should: </p>
		<ul class="list-inside list-disc">
			<li>Design for everyone</li>
			<li>Make people laugh when you can</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
	</div>
</PageLayout>
